<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.martin.fluu_exchange"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Fluu Exchange Media App</name>
 
    <description>
        An app built for the users musical entertainment and advertisement
    </description>
 
    <author href="http://facebook.com/martin.limpic" email="martinlimpc91@gmail.com">
        Martin Limpic
    </author>
 
    <preference name="orientation" value="landscape" />
 
</widget>
